@import url(//fonts.googleapis.com/css?family=Arvo:400,700);

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background: gray;

}

#wall{
	position: relative;
	background-image: url("../img/wall.jpg");
	width: 100%;
	height: 100%;
	min-height: 100%;
	-webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    display: block;
}

#menu{
	position: absolute;
	width: 100%;
	height: 6em;
	top: 0;
	background-color: rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	z-index: 99;
}

#menu ul{
	display: block;
	position: relative;
	list-style-type: none;
	padding: 0;
	width: 30%;
	margin: 1.6em 55%;
}
#menu ul li{
	display: inline-block;
	margin-left: 3.5em;
	border-bottom: 0 solid white;
	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}

#menu ul li:hover{
	border-bottom: .2em solid rgba(255,255,255, .8);
}

#menu ul li a{
	font-family: Arvo;
	font-weight: 400;
	text-decoration: none;
	color: white;
	font-size: 2em;
}

#servicos{
	background: url("../img/circuits.jpg");
	width: 100%;
	height: 63em;
    border-top: 1px solid black;
    display: block;
    text-align: center;
}
#left{
	float:left;
	width: 30%;
	height: 30em;
	background-image: url("../img/windows.jpg");
	background-size: 100% 100%;
	margin-left: 2em;
	margin-top: 16em;

	

	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;

}

#left:hover{
	-webkit-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,1);
    -ms-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,1);
    -o-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,1);
    box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,1);
}

#center{
	display: inline-block;
	width: 30%;
	height: 30em;
	margin: auto;
	background: url("../img/syringe.jpg");
	background-size: 100% 100%;
	margin-top: 16em;


}

#right{
	float:right;
	width: 30%;
	height: 30em;
	background: url("../img/linux.jpg");
	background-size: 100% 100%;
	margin-right: 2em;
	margin-top: 16em;

	

	-webkit-transition: .3s ease all;
	-moz-transition: .3s ease all;
	-ms-transition: .3s ease all;
	-o-transition: .3s ease all;
	transition: .3s ease all;
}

#right:hover{
	-webkit-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,.6);
    -moz-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,.6);
    -ms-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,.6);
    -o-box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,.6);
    box-shadow: inset 0px -2px 70px -9px rgba(255,255,255,.6);
}

.box{
	border: 5px solid #fff;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
}

.caption{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	left: 2.3em;
}

.fade-caption{
	opacity: 0;
	width: 28.5%;
	height: 28.3em;
	text-align: left;
	padding: 15px;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
}

.box:hover .fade-caption{
	opacity: 1;
}

.caption2{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	left: 81.7em;
}

.fade-caption2{
	opacity: 0;
	width: 28.5%;
	height: 28.3em;
	text-align: left;
	padding: 15px;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    text-align: center;
}

.box:hover .fade-caption2{
	opacity: 1;
}


